html, body {
    margin: 0;
    padding: 0;
background-color: #80898D;
}

.header {
    background-color: black;
    width: 100%;
    height: 5vh;
}
.tittle {
    background-color:#428F90;
    width: 100%;
    height: fit-content;
    font-size: 5rem;
    text-align: center;
    color: #F7E9DA;

}
.container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}
.head {
    font-size: 2.5em;
    margin: 20px;
}

.search {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 200px;
    height: 30px;
}
#select-type{
    width: 100px;
    height: 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.btn {
      
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;

}
.btn button{
    background-color: #00a1b9;
    color: white;
    width: 120px;
    height: 50px;
    font-size: 1rem;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.pics{
    margin-top: 50px;
    width: 100%;
    background-color: #80898D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pics img {
    width:200px;
    height: 200px;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.item button {
    margin-top: 15px;
    height: 30px;
    background-color: #00a1b9;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media only screen and (max-width: 600px){
  
    html , body {
        margin: 0;

        padding: 0;
    }
    .filter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media only screen and (min-width:321px) and (max-width:768px){

 html , body {
        margin: 0;

        padding: 0;
    }
    .filter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}
